In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages (3.6.5)
Requirement already satisfied: joblib in c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: click in c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages (from nltk) (8.0.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages (from nltk) (2021.10.21)
Requirement already satisfied: colorama in c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages (from click->nltk) (0.4.4)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sai varshith\.conda\envs\tensorflow\lib\site-packages)

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Sai
[nltk_data]     Varshith\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
import pandas as pd

In [5]:
fake=pd.read_csv("D:/inmovidu_AI/NewsClassification/fake.csv")
genuine=pd.read_csv("D:/inmovidu_AI/NewsClassification/True.csv")

In [6]:
display(fake)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [7]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [8]:
genuine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [9]:
fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [10]:
genuine.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [11]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [12]:
fake['target']=0
genuine['target']=1

In [13]:
genuine.head(10)

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [14]:
fake.head(10)

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
data=pd.concat([fake,genuine],axis=0)

In [16]:
data=data.reset_index(drop=True)
#resets the index in fake,genuine dataframes

In [17]:
data=data.drop(['subject','date','title'],axis=1)

In [18]:
data.columns

Index(['text', 'target'], dtype='object')

# TOKENIZATION

In [19]:
from nltk.tokenize import word_tokenize

In [20]:
data['text']=data['text'].apply(word_tokenize)

In [21]:
data.head(10)

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# STEMMING

In [22]:
from nltk.stem.snowball import SnowballStemmer

In [23]:
porter=SnowballStemmer("english")

In [24]:
def stem_it(text):
    return(porter.stem(word) for word in text)

In [25]:
data['text']=data['text'].apply(stem_it)

In [26]:
print(data.head(10))

                                                text  target
0  <generator object stem_it.<locals>.<genexpr> a...       0
1  <generator object stem_it.<locals>.<genexpr> a...       0
2  <generator object stem_it.<locals>.<genexpr> a...       0
3  <generator object stem_it.<locals>.<genexpr> a...       0
4  <generator object stem_it.<locals>.<genexpr> a...       0
5  <generator object stem_it.<locals>.<genexpr> a...       0
6  <generator object stem_it.<locals>.<genexpr> a...       0
7  <generator object stem_it.<locals>.<genexpr> a...       0
8  <generator object stem_it.<locals>.<genexpr> a...       0
9  <generator object stem_it.<locals>.<genexpr> a...       0

# STOPWORD REMOVAL

In [27]:
#from nltk.corpus import stopwords,but here we are not using that we are creating a function for our own stopwords

In [28]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [29]:
data['text']=data['text'].apply(stop_it)

In [30]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [31]:
data['text']=data['text'].apply(' '.join)

# SPLITTING DATA

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

17799    the left ballist over suppos word said presid ...
10455    maxin water fill with hate for anyon who disag...
28499    washington reuter the white hous said friday t...
9950     the woman pictur abov see more below serial ac...
2140     donald trump oklahoma campaign chair standup g...
Name: text, dtype: object

17799    0
10455    0
28499    1
9950     0
2140     0
Name: target, dtype: int64

# VECTORIZATION

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
my_tfidf=TfidfVectorizer(max_df=0.7)
tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [35]:
print(tfidf_train)

  (0, 12955)	0.05953420554674667
  (0, 85932)	0.024386193224756846
  (0, 89805)	0.01755180390025787
  (0, 89796)	0.046861537019975245
  (0, 54384)	0.07263722995533496
  (0, 20351)	0.028939932521304317
  (0, 74784)	0.043098099664679854
  (0, 82428)	0.030852965098578943
  (0, 3417)	0.09926651462399964
  (0, 60055)	0.04128729600328919
  (0, 68173)	0.04593941830884978
  (0, 26699)	0.019834756117034693
  (0, 71606)	0.049228625449157286
  (0, 7533)	0.03259733234897806
  (0, 25680)	0.040449030353233495
  (0, 76435)	0.04782861394539641
  (0, 89034)	0.043549302421170645
  (0, 30582)	0.061289842241249705
  (0, 82556)	0.03823034645546897
  (0, 65938)	0.10240737962704964
  (0, 39030)	0.038969260687078684
  (0, 65694)	0.03752366919405054
  (0, 10640)	0.015859023327860457
  (0, 84518)	0.04712591122847816
  (0, 37845)	0.029005343636108096
  :	:
  (33672, 51621)	0.034427547491604094
  (33672, 20229)	0.03234232367319206
  (33672, 30942)	0.016677784887966427
  (33672, 24194)	0.025626054799590754
  (33672, 44736)	0.023204811654414847
  (33672, 64913)	0.08384926970948314
  (33672, 50173)	0.02982772927741297
  (33672, 83043)	0.0428206846284007
  (33672, 78199)	0.07210637655059424
  (33672, 81483)	0.07978411515938182
  (33672, 81854)	0.07736652663451926
  (33672, 9125)	0.02075855867212586
  (33672, 53311)	0.044969136278880946
  (33672, 80993)	0.014850557211325298
  (33672, 88803)	0.025442390320492513
  (33672, 61270)	0.030300559973600573
  (33672, 51400)	0.02328887675113068
  (33672, 64554)	0.02644290249657334
  (33672, 42209)	0.011704829703975739
  (33672, 13452)	0.028376015394566086
  (33672, 37699)	0.04598845263207055
  (33672, 51046)	0.026719688757305723
  (33672, 83333)	0.06611722126909331
  (33672, 65447)	0.036442132650406106
  (33672, 79078)	0.04726611136954441

# LOGISTIC REGRESSION

In [36]:
from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [37]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(y_test,pred_1)
print(cr1*100)

98.75278396436525

# PASSIVEAGRESSIVECLASSIFIER

In [38]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [39]:
model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [40]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print('The Accuracy of Prediction is',accscore*100)

The Accuracy of Prediction is 99.66146993318486